body {
    background-color: black;
}

.Teiso {
    color: orange;
    font-family: 'fot-matisse-pron', sans-serif;
    font-weight: 500;
    font-size: 200px;
    transform: scale(1.5,1);
    text-align: left;
}

.Ketsugi {
    color: orange;
    font-family: 'fot-matisse-pron', sans-serif;
    font-weight: 500;
    font-size: 200px;
    transform: scale(1.5,1);
    text-align: right;
}